@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .magic-link {
        @apply -mx-[1px] bg-gradient-to-r from-zinc-700 to-zinc-700 bg-no-repeat px-1 font-normal
		 text-zinc-500 [background-position:0_100%]
		  [background-size:100%_0.1em]  
		  hover:text-white 
		  hover:[background-size:100%_100%] focus:[background-size:100%_100%]
		  motion-safe:transition-all
		  motion-safe:duration-300;
    }
    .magic-link-no-underline {
        @apply -mx-[1px] bg-gradient-to-r from-zinc-700 to-zinc-700 bg-no-repeat px-1 font-normal
		 text-zinc-500 [background-position:0_100%]
		  [background-size:100%_0em]  
		  hover:text-white
		  hover:[background-size:100%_100%] focus:[background-size:100%_100%]
		  motion-safe:transition-all
		  motion-safe:duration-300;
    }

    .border-box {
        @apply transform overflow-hidden rounded-md border-2 border-solid border-gray-200 bg-transparent bg-opacity-20 transition duration-200 hover:scale-105 hover:rounded-md hover:border-tertiary-400 hover:bg-gray-200;
    }

    /* Code title styles */
    .remark-code-title {
        @apply font-mono rounded-t bg-gray-700 px-5 py-3 text-sm font-bold text-gray-200;
    }

    .remark-code-title + div > pre {
        @apply mt-0 rounded-t-none;
    }

    /* Code block styles */
    .code-highlight {
        @apply float-left min-w-full;
    }

    .code-line {
        @apply -mx-4 block border-l-4 border-transparent pl-4 pr-4;
    }

    .code-line.inserted {
        @apply bg-green-500 bg-opacity-20;
    }

    .code-line.deleted {
        @apply bg-red-500 bg-opacity-20;
    }

    .line-number::before {
        @apply -ml-2 mr-4 inline-block w-4 text-right text-gray-400;
        content: attr(line);
    }
}
