@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .magic-link {
        @apply -mx-[1px] bg-gradient-to-r from-zinc-700 to-zinc-700 bg-no-repeat px-1 font-normal
		 text-zinc-500 [background-position:0_100%]
		  [background-size:100%_0.1em]  
		  hover:text-white 
		  hover:[background-size:100%_100%] focus:[background-size:100%_100%]
		  motion-safe:transition-all
		  motion-safe:duration-300;
    }
    .magic-link-no-underline {
        @apply -mx-[1px] bg-gradient-to-r from-zinc-700 to-zinc-700 bg-no-repeat px-1 font-normal
		 text-zinc-500 [background-position:0_100%]
		  [background-size:100%_0em]  
		  hover:text-white
		  hover:[background-size:100%_100%] focus:[background-size:100%_100%]
		  motion-safe:transition-all
		  motion-safe:duration-300;
    }
    .button {
        @apply tracking-wide transition-all duration-200 ease-in-out;
    }
    .primary-button {
        @apply button rounded-full bg-zinc-900 px-6 py-2 text-white hover:bg-zinc-600 hover:text-white xl:font-normal;
    }
    .secondary-button {
        @apply button rounded-full bg-zinc-200/70 px-6 py-2 text-black ring-inset ring-zinc-500 hover:bg-zinc-300/70 hover:ring-1 hover:ring-zinc-500;
    }
    .filled-button {
        @apply button rounded-full bg-zinc-900 px-6 py-2 text-white hover:bg-zinc-700;
    }
    .text-button {
        @apply button font-light text-zinc-500 transition-all duration-200 ease-in-out hover:text-zinc-900;
    }

    .border-box {
        @apply hover:border-tertiary-400 transform overflow-hidden rounded-md border-2 border-solid border-gray-200 bg-transparent bg-opacity-20 transition duration-200 hover:scale-105 hover:rounded-md hover:bg-gray-200;
    }
}
